.carousel-item .carousel-caption {
    position: absolute;
    top: 130px;
}



.mySwiper {
    width: 460px;
    margin: auto;
    overflow: hidden;
}

.swiperImg{
    width: 60%;
}
@media screen and (min-width: 250px) {
    .mySwiper {
        width: 250px;
    }
}
@media screen and (min-width: 450px) {
    .mySwiper {
        width: 450px;
        
    }
}
@media screen and (min-width: 680px) {
    .mySwiper {
        width: 680px;
    }
}
@media screen and (min-width: 1024px) {
    .mySwiper {
        width: 1024px;
    }
}