.Homewrapper{
    background: rgb(25, 84, 123);
    height: 90vh;
   color: red;
}

#overlayOnIcon{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

/* products */
.btnWrapper{
    text-align: center;
}
.btnWrapper button{
    margin: 1rem;
}
#productBox{
    text-align: center;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 4px gray;
    position: relative;
}

#productsRow{
    display: flex;
    justify-content: center;
}


.item{
    width: 50%;
    margin: 10px auto;
    text-align: center !important;
    padding: 5px;
    box-shadow: 0 0 4px gray;
}

.img{
    min-width: 40%;
}

/* product item */
.card-info{
    position: relative;
}

/* generate bill */
.invoiceTitle{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(238, 151, 10);
}


.invoicewrapper{
    background: lightblue;
    margin: auto;
}

.invoice{
    margin: auto;
}

.invoice td, th{
    padding: 10px;
}



.PayBtn{
    margin: auto;
    width: -webkit-fill-available;
}

.total{
    text-align: right;
}