.Homewrapper{
    background: rgb(25, 84, 123);
    height: 90vh;
   color: red;
}

.navbar{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
#navbarNav{
    display: flex;
}
#cart{
    position: relative;
}
#overlayOnIcon{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
#productBox{
    text-align: center;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 4px gray;
    position: relative;
}

#productsRow{
    display: flex;
    justify-content: center;
}


.item{
    width: 50%;
    margin: 10px auto;
    text-align: center !important;
    padding: 5px;
    box-shadow: 0 0 4px gray;
}

.img{
    min-width: 40%;
}